/* form to add holdings*/
#addHoldingsForm{
	background-color: #ffffe6;
	width: 80%;
	padding: 16px;
	border-radius: 10px;
	margin: auto;
}
/*input fields */
.addHoldingsFields{
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
	border-radius: 15px;
}
/* Add holding button */
#addHoldingsButton{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    font-weight: bold;	
	border-radius: 15px;
	text-align: center;
}
#addHoldingsButton:hover{
	color: black;
}
/* style for the cancel button */
#cancelHoldingsButton{
    width: 45%;
    padding: 14px 20px;
	margin: 8px 0;
    background-color: #f44336;
	color: white;
	text-align: center;
	font-weight: bold;
	border-radius: 15px;
	cursor: pointer;
}
#cancelHoldingsButton:hover{
	color: black;
}
/**/
#portfolioName{
	font-size: 24px;
	font-weight: bold;
}